button.button {
  appearance: none;
  border: 1px solid #fff;
  padding: 1rem;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
  box-shadow: 1px 1px 3px #fff;

  &:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}

html * {
  scroll-behavior:smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.header nav .head-logo {
  display: none;
  @media all and (min-width: 575px) {
    display: block;
  }

  a {
    display: block;
    border-bottom: 0;
    padding: 0;

    &:hover {
      border-bottom: 0;
    }
  }

  img {
    display: block;
    filter: grayscale(1) brightness(3.5);
  }
}

.header nav {
  .fitness {
    border-bottom: 0;
    padding: 0;
    &:hover {
      border-bottom: 0;
      
      img {
        mix-blend-mode: overlay;  
      }
    }
    img {
      display: block;
      filter: grayscale(1) brightness(3.5);
      object-fit: contain;
      transition: all 0.3s ease-out;
    }
  }

  .yoga {
    border-bottom: 0;
    padding: 0;
    &:hover {
      border-bottom: 0;
      img {
        mix-blend-mode: overlay;  
      }
    }
  }
}

.inner {
  max-width: 95%;
  margin: 0 auto;
}

.footer {
  padding: 3rem;
  background-color: #000;
  color: #fff;
  .inner {
    display: flex;
    justify-content: space-between;
  }
  p {
    color: #fff;
  }
  svg {
    fill: #fff;
    width: 25px;
    height: 25px;
    path: {
      fill: #fff;
    }
    &:hover {
      path {
        fill: #ccc;
      }
    }
  }
  .social {
    display: flex;
    gap: 15px;
  }
}

.header {
  padding: 0 1.5rem;
  width: 100%;
  z-index: 99999;
  position: fixed;
  background-color: #000;
  @media all and (min-width: 575px) {
    padding: 0;
    background-color: rgba(#000, 0.25);
  }

  .menu-button {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 95%;
    @media all and (min-width: 575px) {
      display: none;
    }
    img {
      filter: grayscale(1) brightness(3.5);
    }
  }
  .header {
    padding: 0 1.5rem;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #000;
    @media all and (min-width: 575px) {
  
      background-color: rgba(#000, 0.25);
    }
  
    .menu-button {
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 99999;
      background: transparent;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      max-width: 95%;
      @media all and (min-width: 575px) {
        display: none;
      }
    }
  
    nav  {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
  
      @media all and (min-width: 575px) {
        flex-direction: row;
        height: auto;
        justify-content: space-between;
      }
  
      &.nav-open {
        height: 100vh;
        @media all and (min-width: 575px) {
          height: auto;
        }
      }
      &.nav-closed {
        height: 0vh;
        @media all and (min-width: 575px) {
          height: auto;
        }
      }
  
      .menu-button {
        display: block;
        @media all and (min-width: 575px) {
          display: none;
        }
      }
      a {
        padding: 0.25rem 0.5rem;
        font-size: 20px;
        letter-spacing: 1.25px;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        transition: all 0.34s ease-in-out;
        color: #fff;
  
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
      a.logo {
        padding: 0;
        border-bottom: 0;
        &:hover {
          border-bottom: 0;
        }
      }
    }
  }

  nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media all and (min-width: 575px) {
      height: auto;
      justify-content: space-between;
    }

    .header-links {
      @media all and (min-width: 575px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
      }
      &-ext {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      &-group {
        @media all and (max-width: 575px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem;
        }
      }
    }

    &.nav-open {
      height: 100vh;
      @media all and (min-width: 575px) {
        height: auto;
      }
    }
    &.nav-closed {
      height: 0vh;
      @media all and (min-width: 575px) {
        height: auto;
      }
    }

    .menu-button {
      display: block;
      @media all and (min-width: 575px) {
        display: none;
      }
    }
    a {
      display: inline-block;
      padding: 0.5rem;
      font-size: 20px;
      letter-spacing: 1.25px;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      transition: all 0.34s ease-in-out;
      letter-spacing: 0;
      color: #fff;

      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
    a.logo {
      border-bottom: 0;
      &:hover {
        border-bottom: 0;
      }
    }
  }
}

@import "../pages/*.scss";
