.band {
  * {
    color: #fff;
  }

  .band-hero {
    h1 {
      font-weight: normal;
      font-size: 44px;
      max-width: 80%;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 1px 1px 1px #000;
    }
  }

  .intro {
    &__inner {
      padding: 3rem 0;
      width: 90%;
      margin: 0 auto;
    }

    h3 {
      max-width: 700px;
      margin: 0 auto 1rem;
      text-align: center;
      font-size: 24px;
    }

    &-image {
      margin-bottom: 2rem;  
    }
  }

  &-partners {
    margin-bottom: 2rem;
    font-size: 42px;
    text-align: center;
  }

  &-grid {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 auto 3rem;
    max-width: 80%;
    > * {
      flex: 1 1 100%;
      @media all and (min-width: 575px) {
        flex: 1 1 50%;
      }
    }
    img {
      object-fit: cover;
      object-position: top;
    }
  }

  &-partner {
    max-width: 568px;
    margin: 0 auto 2rem;
    text-align: center;
    a  {
      text-decoration: underline;
      text-decoration-thickness: 1px;

      &:hover {
        text-decoration: none;
      }
    }
    h3 {
      font-size: 28px;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }

    img {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
    }

    .band-video-links {
      a {
        opacity: 0.75;
        transition: opacity 0.32s ease-in;
      }
      a:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}