.dancer {

  .dance-hero {
    position: relative;
    z-index: 0;
    h1 {
      font-weight: normal;
      font-size: 60px;
      max-width: 80%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 1px 1px 1px #000;
      @media all and (max-width: 575px) { 
        bottom: 0;
        font-size: 32px;
      }
    }
    video {
      width: 100%;
      height: 100%;
      max-height: 650px;
      object-fit: contain;
      object-position: top;
      display: block;
      @media all and (min-width: 575px) { 
        min-height: 600px;
      }
    }
  }

  .intro {
    position: relative;
    video {
      width: 100%;
      min-height: 600px;
      max-height: 700px;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .booking-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 24px;
    max-width: 560px;
    h2{
      font-size: 32px;
      text-align: center;
      margin-bottom: 2rem;
      color: #fff;
    }

    * div {
      width: 100%;
    }

    .form-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
    }

    .error {
      .booking-email-label {
        color: #b42a2a;
      }
      input {
        border-color: #b42a2a;
      }
    }

    .booking-email-label {
      &:after {
        content: ' *';
        display:inline;
      }
    }
    
    label {
      display: block;
      margin-bottom: 0.75rem; 
      font-size: 24px;
      font-weight: normal;
      color: #fff;
    }

    input,
    textarea {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: none;
      border: 1px solid white;
      padding: 6px 12px;
      width: 100%;
      margin-bottom: 2rem;
      font-size: 18px;
      color: #fff;
      border-radius: 3px;
    }
    input[type="submit"] {
      background-color: #fff;
      border-radius: 4px;
      color: #000;
      font-weight: normal;
      font-size: 24px;
      padding: 8px 16px;
      transition: all 0.23s ease-out;
      cursor: pointer;
    
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
  }
}